nav#indexnav ul {
	list-style-type: none;
	padding: 0;
	margin: 25;
	overflow: hidden;
}

nav#indexnav ul li {
	float: left;
	margin: 0 20px;
}

nav#indexnav ul li a {
	display: block;
	background-color: gray;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	width: 100px;
	padding: 5px 0px;
	border-radius: 30px; 
}

nav#indexnav ul li a:hover{
	background-color: orange;
	transition-property: background color, width;
	transition-duration: 1.2s;
	-webkit-transform: scale(1.1) skewX(24deg);
}

nav#indexnav #onpage{
  text-decoration: underline;
}


#yel{
  font-family: cursive;
  text-align: center;
  font-size: 45px;
  color: orange;
}

#di{
  font-family:'Brush Script MT', cursive;
  text-align:  center;
  font-size: 40px;
  color: gray;
}

body{
		text-align: center;
}

nav#indexnav11 ul {
	list-style-type: none;
	padding: 0;
	margin: 25;
	overflow: hidden;
}

nav#indexnav11 ul li {
	float: left;
	margin: 0 20px;
}

nav#indexnav11 ul li a {
	display: block;
	background-color: red ;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	width: 100px;
	padding: 5px 0px;
	border-radius: 30px; 
}

nav#indexnav11 ul li a:hover{
	background-color: black;
	transition-property: background color, width;
	transition-duration: 1.2s;
	-webkit-transform: scale(1.1) skewX(24deg);
}

nav#indexnav11 #onpage{
  text-decoration: underline;
}


#pic{
	text-align: left;
  font-family: cursive;
  text-align: left;
  font-size: 45px;
  color: red;
  padding: 0px 10px;
}

#med{
	display: block;
	margin-right: auto;
	padding: 0px 10px;
}

#pics{
  font-family:'Brush Script MT', cursive;
  text-align:  left;
  font-size: 40px;
  color: black;
  padding: 0px 10px;
}

#pi{
	font-family:'Vardana';
	 font-size: 18px;
	 text-align: left;
	 padding: 0px 10px;
}

#cur{
  font-family: cursive;
  text-align: center;
  font-size: 45px;
  color: orange;
}

#info{
	 font-family:'Vardana';
	 font-size: 18px;
	 text-align: center;
}

#wel{
  font-family: cursive;
  text-align: center;
  font-size: 45px;
  color: red;
}

#we{
  font-family:'Brush Script MT', cursive;
  text-align:  center;
  font-size: 40px;
  color: black;
}

#lets{
	float: right;
}