nav#indexnav ul {
	list-style-type: none;
	padding: 0;
	margin: 25;
	overflow: hidden;
}

nav#indexnav ul li {
	float: left;
	margin: 0 20px;
}

nav#indexnav ul li a {
	display: block;
	background-color: gray;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	width: 100px;
	padding: 5px 0px;
	border-radius: 30px; 
}

nav#indexnav ul li a:hover{
	background-color: orange;
	transition-property: background color, width;
	transition-duration: 1.2s;
	-webkit-transform: scale(1.1) skewX(24deg);
}

nav#indexnav #onpage{
  text-decoration: underline;
}


#yel{
  font-family: cursive;
  text-align: center;
  font-size: 45px;
  color: orange;
}

#di{
  font-family:'Brush Script MT', cursive;
  text-align:  center;
  font-size: 40px;
  color: gray;
}

body{
		text-align: center;
}

nav#indexnav11 ul {
	list-style-type: none;
	padding: 0;
	margin: 25;
	overflow: hidden;
}

nav#indexnav11 ul li {
	float: left;
	margin: 0 20px;
}

nav#indexnav11 ul li a {
	display: block;
	background-color: red ;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	width: 100px;
	padding: 5px 0px;
	border-radius: 30px; 
}

nav#indexnav11 ul li a:hover{
	background-color: black;
	transition-property: background color, width;
	transition-duration: 1.2s;
	-webkit-transform: scale(1.1) skewX(24deg);
}

nav#indexnav11 #onpage{
  text-decoration: underline;
}


#pic{
	text-align: left;
  font-family: cursive;
  text-align: left;
  font-size: 45px;
  color: red;
  padding: 0px 10px;
}

#med{
	display: block;
	margin-right: auto;
	padding: 0px 10px;
}

#pics{
  font-family:'Brush Script MT', cursive;
  text-align:  left;
  font-size: 40px;
  color: black;
  padding: 0px 10px;
}

#pi{
	font-family:'Vardana';
	 font-size: 18px;
	 text-align: left;
	 padding: 0px 10px;
}

#cur{
  font-family: cursive;
  text-align: center;
  font-size: 45px;
  color: orange;
}

#info{
	 font-family:'Vardana';
	 font-size: 18px;
	 text-align: center;
}

#wel{
  font-family: cursive;
  text-align: center;
  font-size: 45px;
  color: red;
}

#we{
  font-family:'Brush Script MT', cursive;
  text-align:  center;
  font-size: 40px;
  color: black;
}

#lets{
	float: right;
}


/*
 * Lean Slider v1.0.1
 * http://dev7studios.com/lean-slider
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

.lean-slider {
    position: relative;
    *zoom: 1;
}
.lean-slider:before,
.lean-slider:after {
    content: " ";
    display: table;
}
.lean-slider:after {
    clear: both;
}

.lean-slider-slide {
    float: left;
    width: 100%;
    margin-right: -100%;
    display: none;
}
.lean-slider-slide.current { display: block; }

/*
 * Lean Slider Sample Styles
 * http://dev7studios.com/lean-slider
 */
 
#slider img {
}
.lean-slider-slide {
    display: block;
    position: relative;
    opacity: 0;
    -webkit-transition: opacity 0.6s linear;
    -moz-transition: opacity 0.6s linear;
    -ms-transition: opacity 0.6s linear;
    -o-transition: opacity 0.6s linear;
    transition: opacity 0.6s linear;
}
.lean-slider-slide.current { opacity: 1; }
.lean-slider-slide img { 
    width: 30%; 
}

#slider-direction-nav {
    position: absolute;
    left: 0;
    top: 47%;
    width: 100%;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    opacity: 0.2;
}
.slider-wrapper:hover #slider-direction-nav { opacity: 1; }
#slider-direction-nav a {
    float: left;
    display: block;
    width: 26px;
    height: 37px;
    background: url(media/arrow.png) no-repeat 0 0;
    text-indent: -9999px;
}
#slider-direction-nav .lean-slider-next {
    float: right;
    background-position: 100% 0;
}

#slider-control-nav {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    opacity: 0.2;
}

#slider-control-nav a.active { background-position: 100% 0; }

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-width : 480px) {

  #slider-direction-nav,
	#slider-control-nav { opacity: 1; }

}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	
	#slider-direction-nav,
	#slider-control-nav { opacity: 1; }

}